@if(company){
<div>
    <div id="company-box">
        <p>{{ company.name }}</p>
        <p>{{ company.phone | phoneFormat }}</p>
        <p>{{ company.email }}</p>
        <p>{{ company.address }}</p>
        <p>{{ company.about }}</p>
    </div>

    @if(!companyId) {
    <p class="summary">No items</p>
    } @else{
    <div id="company-content">

        <goods-list [goods]="goods" [companyId]="companyId" />

        <p class="summary">total {{ goodsSummary() }}</p>
    </div>

    }
</div>
}