<div id="good-wrapper">

    <form [formGroup]="goodsForm" (ngSubmit)="onSubmit()">

        @for (field of fields; track field) {
        <div>
            <label [for]="field">{{ field.charAt(0).toUpperCase() + field.slice(1)}}</label>
            <input [formControlName]="field" [id]="field" [type]="field==='name'? 'text':'number'" />
            @if( getFieldErrors(field)) {<p>{{getFieldErrors(field)}}</p>}
            @else { <p>&nbsp; </p> }
        </div>
        }


        <button type="submit">Submit</button>
    </form>

    <goods-list [goods]="goods" [onDelete]="onDelete" />

</div>