#good-container {
    margin: 16px 32px;

    #header-row {
        display: flex;
        align-items: center;
        column-gap: 16px;
        margin-bottom: 24px;

        span {
            font-size: 20px;
        }

        button {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

    }

    #good-wrapper {
        display: flex;
        column-gap: 96px;
        margin-left: 24px;
    }
}