mat-toolbar {
    nav {
        padding: 4px;
        margin: 0px 0px 16px 16px;

        a {
            color: #bdbdbd;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a:first-child {
            margin-right: 8px;
        }
    }

}